body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navbar .title {
    color: #f2f2f2;
    font-size: 1.5em;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 64px;
}

.navbar .links {
    display: flex;
    gap: 1em;
}

.navbar .links a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.navbar .links a:hover {
    background-color: #ddd;
    color: black;
}

@media (max-width: 600px) {
    .navbar .links {
        flex-direction: column;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    flex: 1 0 30%; /* This will make the card take up 21% of the container's width, allowing for 4 cards per row with some space in between */
    margin: 1.5%; /* This will add a little space between the cards */

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    text-align: center;
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 2em;
    color: #333;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p {
    padding: 0 2rem;
    color: #777;
    font-size: 1em;
}

.card button {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background: #ff416c;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.card button:hover {
    background: #ff4b2b;
}
